main {
    margin: 5px 5px;
}

#title {
    margin-left: 36vw;
}

.content {
    display: block;
    text-align: center;
    margin-top: 3em;
}

.search {
    display: block;
    margin-left: 20em;
    margin-right: auto;
    margin-bottom: 45px;
}

.search form input {
    display: block;
    width: 70%;
    padding: 10px 14px;
    border: 2px solid black;
    border-radius: 25px;
}

.search form input:focus {
    outline: 5px solid lightsteelblue;
    transition: 0.1s;
}

.content h2 {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: steelblue;
}

.left, .middle, .right {
    display: inline-block;
    border: 2px solid black;
    background-color: bisque;
    margin-top: 30px;
}

.left {
    margin-right: 15px;
}

.middle {
    margin-left: 5px;
    margin-right: 5px;
}

.right {
    margin-left: 15px;
}

.left a, .middle a, .right a {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding-top: 26px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.left:hover, .middle:hover, .right:hover {
    outline: 4px solid goldenrod;
    transition: 0.1s;
}

.links a:hover {
    outline: 3px solid goldenrod;
    transition: 0.1s;
}