main {
    margin: 5px 5px;
}

#title {
    margin-left: 36vw;
}

.content {
    display: block;
    text-align: center;
    margin-top: 5em;
}

#infographic {
    display: inline-block;
    border: 2px solid black;
    width: 300px;
    margin-left: 6vw;
    margin-right: 6vw;
}

.left, .right {
    display: inline-block;
    vertical-align: top;
}

#top {
    margin-top: 50px;
    margin-bottom: 200px;
}



