main {
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#label {
    display: inline-block;
    height: 25px;
    margin-right: 10px;
}

#label:first-of-type {
    margin-top: 60px;
}

/*Toggle switches for preferences */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    text-align: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #0097a7;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #0097a7;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}