main {
    margin-left: 5px;
    margin-right: 5px;
}

#title {
    margin-left: 40vmax;
}

.left-line {
    display: inline-block;
    border: 2px solid #0097a7;
    height: 600px;
    overflow: hidden;
    margin-left: 28vmax;
    margin-right: 44px;
}

.right-line {
    display: inline-block;
    border: 2px solid #0097a7;
    height: 600px;
    overflow: hidden;
    margin-left: 39vmax;
}

.content {
    position: absolute;
    display: inline-block;
}

.content form {
    display: block;
    text-align: center;
}

#label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: 7px;
}

#frequency {
    display: inline-block;
    margin-right: 10px;
    margin-top: 2vmax;
}

#label:first-of-type {
    margin-top: 45px;
}

hr {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 18vmax;
    top: 10px;
    margin-right: 20px;
    margin-left: 5px;
}

/*Toggle switches for preferences */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #0097a7;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #0097a7;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.notif {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    height: 250px;
    width: 350px;
}

.notif button {
    border: 1px solid black;
    border-radius: 4px;
    width: 250px;
    margin-top: 30px;
    padding: 7px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    background-color: rgb(180, 200, 225);
}

.notif button:last-of-type {
    margin-top: 230px;
}

.left, .right {
    display: inline-block;
    border: 2px solid #0097a7;
    height: 250px;
    overflow: hidden;
    margin-top: 50px;
}   