#title {
    margin-left: 36vw;
}

.content {
    text-align: center;
    display: block;
    margin-top: 8em;
}

.content h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: steelblue;
}

.content p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: steelblue;
    margin-bottom: 3em;
}

.content a {
    display: inline-block;
    background-color: bisque;
    height: 100px;
    width: 250px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 25px;
    border: 2px solid black;
}

.content a:hover {
    transition: 0.1s;
    outline: 3px solid sandybrown;
}

#match {
    margin-right: 10px;
}

#appointment {
    margin-left: 10px;
}
