.content {
    text-align: center;
    display: block;
    margin-top: 15em;
}

.content a {
    display: inline-block;
    background-color: bisque;
    height: 100px;
    width: 250px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 25px;
    border: 2px solid black;
}

#match {
    margin-right: 10px;
}

#appointment {
    margin-left: 10px;
}
